## Week 01 - Intro

By Jorge Abrego

To install environment, run the following command

    > pip install numpy pandas scikit-learn seaborn

### Question 1

What's the version of Pandas that you installed?

In [1]:
import numpy as np
import pandas as pd

pd.__version__

'2.1.0'

### Getting the data

In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv -P ./data

--2023-09-16 21:33:25--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1423529 (1.4M) [text/plain]
Saving to: './data/housing.csv'

housing.csv         100%[===================>]   1.36M  --.-KB/s    in 0.04s

2023-09-16 21:33:25 (32.1 MB/s) - './data/housing.csv' saved [1423529/1423529]

### Question 2

How many columns are in the dataset?

In [3]:
df = pd.read_csv('data/housing.csv')

In [4]:
df.shape

(20640, 10)

In [5]:
print(f"There are {df.shape[1]} columns in the dataset.")

There are 10 columns in the dataset.

### Question 3

Which columns in the dataset have missing values?

In [6]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [7]:
print(f"Column \033[1mtotal_bedrooms\033[0m has missing values.")

Column total_bedrooms has missing values.

### Question 4

How many unique values does the `ocean_proximity` column have?

In [9]:
df['ocean_proximity'].nunique()

5

In [11]:
print(f"Column ocean_proximity has \033[1m5\033[0m unique values.")

Column ocean_proximity has 5 unique values.

### Question 5

What's the average value of the `median_house_value` for the houses located near the bay?

In [14]:
df[df['ocean_proximity']=='NEAR BAY']['median_house_value'].mean()

259212.31179039303

In [16]:
print(f"The average value of the median_house_value column for houses located near the bay is \033[1m259212\033[0m.")

The average value of the median_house_value column for houses located near the bay is 259212

### Question 6

1. Calculate the average of `total_bedrooms` column in the dataset.
2. Use the `fillna` method to fill the missing values in `total_bedrooms` with the mean value from the previous step.
3. Now, calculate the average of `total_bedrooms` again.
4. Has it changed?

Has it changed?

In [18]:
df['total_bedrooms'].mean()

537.8705525375618

In [20]:
df['total_bedrooms'].fillna(df['total_bedrooms'].mean(), inplace=True)
df['total_bedrooms'].mean()

537.8705525375617

In [21]:
print(f"Average doesn´t changed filling missing values with the same average value.")

Average doesn´t changed filling missing values with the same average value.

### Question 7

1. Select all the options located on islands.
2. Select only columns `housing_median_age`, `total_rooms`, `total_bedrooms`.
3. Get the underlying NumPy array. Let's call it `X`.
4. Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`.
5. Compute the inverse of `XTX`.
6. Create an array `y` with values `[950, 1300, 800, 1000, 1300]`.
7. Multiply the inverse of `XTX` with the transpose of `X`, and then multiply the result by `y`. Call the result `w`.
8. What's the value of the last element of `w`?

In [22]:
X = df[df['ocean_proximity']=='ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']].values

In [25]:
XTX = X.T @ X

In [26]:
XTX = np.linalg.inv(XTX)

In [27]:
y = np.array([950, 1300, 800, 1000, 1300])

In [28]:
w = (XTX @ X.T) @ y

In [31]:
w

array([23.12330961, -1.48124183,  5.69922946])

In [33]:
print(f"The value of the last element of w is \033[1m{w[-1].round(4)}\033[0m.")

The value of the last element of w is 5.6992.